@media (min-aspect-ratio: 1/1) {  /*desktop layouts*/
    #teammembers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #imagegallery { /*no mobile version needed as automatically stacks...*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    #locations { /*no mobile version needed as automatically stacks...*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #footer1 {
        grid-column: 1;
        grid-row: 1;
    }
    #footer2 {
        grid-column: 2;
        grid-row: 1;
    }
}
@media (max-aspect-ratio: 1/1) {  /*mobile layouts*/
    #teammembers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #member1 {
        grid-column: 1;
        grid-row: 1;
    }
    #member2 {
        grid-column: 2;
        grid-row: 1;
    }
    #member3 {
        grid-column: 1;
        grid-row: 2;
    }
    #member4 {
        grid-column: 2;
        grid-row: 2;
    }
}