@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sniglet:wght@400;800&display=swap');
body, header {
    background-color: aliceblue;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: 0;
}
.navbar, footer {
    background-image: url("background.png"), linear-gradient(to right, lightskyblue, lightseagreen);
    background-repeat: repeat;
}
p, li {
    font-size: x-large;
}
h1, h2, h3, .navbar li, .navinactive, .navactive, strong {
    font-size: xx-large;
}
h1, h2, h3, .navinactive, .navactive, .listhead {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.logo {
    max-height: 150px; 
}
#imagegallery img {
    max-width: 100%;
}
.listhead {
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
}
.listimg, #teammembers li, .serviceslist li {
    list-style-type: none;
}
#teammembers {
    justify-content: center;
}
.servicelistimage {
    max-width: 90%;
}
.bannerimg {
    filter: brightness(70%);
}
#banner {
    position: relative; 
    text-align: center; 
}
#banner h1 {
    position: absolute;
    top: 10%; 
    left: 50%; 
    color: #fff;
    text-shadow: 2px 2px 8px midnightblue;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25em;
    transform: translate(-50%, -50%);
}
.portrait {
    max-height: 675px;
}
.offer {
    text-align: center;
    background-color: lightgreen;
    margin: 0;
    padding: 10px;
    font-size: x-large;
    margin-bottom: 10px;
}
nav ul {
    margin-top: 0;
    margin-bottom: 0;
}
.navactive {
    background-color: rgba(255, 160, 122, 0.9);
}
.navinactive, button {
    background-color: rgba(173, 216, 230, 0.25);
}
.navbar li, .navbar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 4px 6px;
    display: block;
    transition: 0.3s;
}
#map {
    height: 500px;
    width: 100%;
}
.navinactive:hover {
    background-color: rgba(255, 160, 122, 0.75);
}
article, footer, .services  {        
    padding: 5px 0px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 90%; 
    margin: 0 auto; 
    padding: 10px;
}
fieldset {
    border: 1px solid lightblue;
    padding: 15px;
    background-color: aliceblue;
}
input[type="text"], input[type="email"], input[type="date"], select, textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    border: 1px solid lightblue;
}
textarea {
    height: 100px;
}
input[type="submit"] {
    background-color: lightsalmon;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #eb7859;
}
div {
    display: flex;
    flex-direction: column;
}
/* Desktop styles */
@media (min-aspect-ratio: 1/1) { 
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 0 20px; 
        list-style-type: none;
        height: auto; 
    }
    .navlogo {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .navbar ul {
        display: flex;
        gap: 20px; 
        width: 100%; 
        padding: 0;
        margin: 0;
    }
    .navbar li {
        padding: 15px 0px;
        flex-grow: 1;
        text-align: center; 
    }
    .nav-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-contact li {
        padding: 1px 0; 
    }
    article, .bannerimg, .aboutimg, .services{
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 90%; 
        height: auto; 
    }

    .servicesimg {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 100%; 
        height: auto; 
        }
}
/* Mobile styles */
@media (max-aspect-ratio: 1/1) {  
    h1, h2, h3, p, li {
        margin-inline: 5px;
    }
    .navbar {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        padding: 0px 0; 
        list-style-type: none;
        height: auto; 
    }
    .navlogo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; 
    }
    .logo { 
        max-height: 125px; /*smaller in mobile to reduce portion of screen taken by nav*/
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px; 
        padding: 0;
    }
    .navbar li {
        padding: 5px 0;
        width: 80%; 
        text-align: center;
    }
    .bannerimg, .servicesimg, .aboutimg {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 100%; 
        height: auto; 
    }
    #banner h1 { /*text sits lower in mobile*/
        position: absolute;
        top: 40%; 
        font-size: 1.75em;
    }
}

